<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.caco3.producthunt">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".ProductHuntApp"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".categories.CategoriesActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".posts.PostsActivity"
            android:parentActivityName=".categories.CategoriesActivity"
            android:launchMode="singleTop" />
        <activity android:name=".post.PostActivity"
            android:parentActivityName=".posts.PostsActivity"
            android:launchMode="singleTop" />
        <service android:name=".autoupdate.CategoriesAndPostsUpdateService" />
        <receiver android:name=".autoupdate.CategoriesAndPostsAutoUpdateAlarmReceiver" />
        <receiver android:name=".receiver.BootBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>